# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/compiler.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
myJava.iml
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
target/
